<div class = "row">

    <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="2">Item Details ({{itemid}})</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                <tr>
                    <td> Item Name</td>
                    <td>
                        <input type="text" placeholder="Name" ng-model="item.name">
                    </td>
                </tr>
                <tr>
                    <td> Description</td>
                    <td>
                        <textarea type="text" placeholder="Description" ng-model="item.desc"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img ng-src= "{{item.imgurl}}" style="width: 140px; height: 140px;" class="img-thumbnail img-responsive" alt="Responsive image">
                        <div ng-show = visibility layout="row" layout-sm="column" layout-align="space-around" style = "transform: translate(0%,-180%)">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </td>
                    <td colspan="1">
                        <label for="exampleInputFile">Upload Image</label>
                        <div style = "height: 0px; overflow:hidden">
                            <input type="file" file-model="myFile" id = "exampleInputFile"/>
                        </div>
                        <button  class="btn btn-default" ng-click="chooseFile()">{{addItem_fileName}}</button>
                        <br>
                        <br>
                        <button type="button" class="btn btn-block btn-info"ng-click="uploadImage()">upload</button>
                    </td>
                </tr>
                </tbody>
        </table>

    </div>

        <div class="col-md-6">
            <button type="button" ng-click="addClicked()" class="btn btn-block btn-primary">Add</button>
        </div>
        <div class="col-md-6">
            <button type="button" ng-click="cancel()" class="btn btn-block btn-danger">Cancel</button>
        </div>

</div>
<script>

</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
        background: transparent;
        border: none;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: transparent;
        cursor: inherit;
        display: block;
    }
</style>

