<style>
    .menuList{
        flex-flow: column nowrap;
        align-items: center;
    }
    .imageClass{
        width: 100px;
        height: 100px;
    }
    .imageContainer{
        margin: 10px auto;
        width: 15%;
        text-align: center;
    }
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        flex: 1 auto;
        justify-content: space-between;
        width: 100%;
    }
    .flex-item{
        width: 48%;
        margin: 1% 1%;
    }
    @media screen and (max-width: 800px) {
        .imageClass{
            width: 50px;
            height: 50px;
        }
        .imageContainer{
            margin: 25px auto;
            width: 15%;
            text-align: center;
        }
    }
    @media screen and (max-width: 585px) {
        .imageContainer{
            margin: 36px auto;
        }
        main{
            padding-right: 0%;
            padding-left: 0%;
            padding-top: 60px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 20px;
        }
        .flex-container{
            display: flex;
        }
        .flex-item{
            width: 100%;
            margin: 1% 1%;
        }
    }

</style>
<h2 class="panel-heading theme-color" style="color: white; margin: 10px auto; width: 100%;text-align: center">
    Menu
</h2>
<div>
    <div style="clear: both;" class="menuList">

        <md-card class="myMenuItem" style="display: flex; flex-flow: row nowrap;justify-content: space-between;" ng-repeat="(itemid,item) in menu.items" ng-click="editItem(itemid)">
            <div class="imageContainer" style="align-self: center;"><img class="img-circle imageClass" src="{{item.imgurl}}"></div>
            <div style="width: 80%;text-align: left;" flex>
                <div style="margin:10px">
                    <span style="font-weight:500">{{item.name}}</span><br>
                    {{item.desc}}<br>
                </div>
            </div>

            <div style="margin-right: 10px;align-self: center;">
                <button ng-click="removeItem(itemid)" type="button" class="cross-btn" data-toggle="tooltip" data-placement="top" title="Remove">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </md-card>

        <div ng-if="itemCount == 0" style="text-align: center;">
            <h3>Your menu is looking empty.<br> Why not add some items.</h3>
        </div>

        <div style="clear: both" ng-show = visibility>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            <h3 style="text-align: center"> Refreshing Menu list please wait... </h3>

        </div>
    </div>
    <div class="flex-container">
        <div class="flex-item" style="order: 2;">
            <button style="border-radius: 0px;" type="button" ng-click="postItem()" class="btn btn-block flat-btn-success">Save</button>
        </div>
        <div class="flex-item" style="order: 1;">
            <button style="border-radius: 0px;" type="button" ng-click="addItemClicked()" class= "btn btn-block flat-btn-primary">Add an Item</button>
        </div>
    </div>
</div>


