
<div class = "row">
    <div>
        <h3 class="panel-heading theme-color" style="color: white;height: 40px;">
            Item Details ({{itemid}})
        </h3>
        <md-card class="col-md-12" layout="row" layout-wrap>
            <div  flex="33" style="padding: 10px"><img ng-src= "{{item.imgurl}}" style="width: 100%;" class="img-thumbnail img-responsive" alt="Responsive image">
                <!--<label for="exampleInputFile1">Upload Image</label>-->
                <div ng-show = "visibility" layout="row" layout-sm="column" layout-align="space-around" style = "transform: translate(0%,-300%);">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>

                <div style = "height: 0px; overflow:hidden">
                    <input type="file" file-model="myFile" id = "exampleInputFile"/>
                </div>
                <br>
                <button style= "border: 1px solid #34495E;border-radius: 0px;" class="btn btn-block btn-default" ng-click="chooseFile()">{{addItem_fileName}}</button>
                <br>
                <button type="button" class="btn btn-block btn-info" style="border-radius: 0px; background: #34495E;border: none;" ng-click="uploadImage()">upload</button>
            </div>
            <div  flex>
                <div style="margin:10px">
                    <input type="text" class="form-control" placeholder="Item name" ng-model="item.name"><br>

                    <textarea type="text" style="height: 150px;" class="form-control" placeholder="Description" ng-model="item.desc"></textarea><br>
                </div>
            </div>
        </md-card>
    </div>

    <div class="flex-container">
        <div class="flex-item" style="order: 1;">
            <button type="button" ng-click="cancel()" class="btn-block flat-btn-cancel">Cancel</button>
        </div>

        <div class="flex-item" style="order: 2;">
            <button type="button" ng-click="addClicked()" class="btn btn-block flat-btn-done">Add</button>
        </div>
    </div>

</div>
<script>

</script>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
        background: transparent;
        border: none;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: transparent;
        cursor: inherit;
        display: block;
    }
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        flex: 1 auto;
        justify-content: space-between;
        width: 100%;
    }
    .flex-item{
        width: 48%;
        margin: 1% 1%;
    }
    @media screen and (max-width: 585px) {
        .flex-container{
            flex-flow: row-reverse wrap-reverse;
        }
        .flex-item{
            width: 100%;
            margin: 1% 1%;
        }
    }
</style>

