 <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="emailId">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">Password</label>-->
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="pass">-->
    <!--</div>-->
    <!--<div class="checkbox">-->
        <!--<label>-->
            <!--<input type="checkbox"> Remember me-->
        <!--</label>-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default" ng-click="login(emailId,pass)"> Submit </button>-->

    <div class="form-group" style="margin-top: 20%">
        <!--<h4 style="text-align: center"><b>KITCHEN ID</b></h4>-->
        <input class="form-control input-lg kitchen-input" id="inputlg" type="text" placeholder="Enter Kitchen ID" ng-model="kitchenid">
    </div>

    <div>

        <div class = "category-container" style="display: flex; flex-flow: row wrap; justify-content: space-between">
            <button class="home-btn" ng-click="login('Admin')">
                Administrator
            </button>
            <button class="home-btn" ng-click="login('Staff')">
                Staff
            </button>
            <button class="home-btn" ng-click="login('User')">
                User
            </button>
        </div>
        <div ng-show="false" style="display: flex; flex-flow: row; align-content: space-between; width: 100%;">
            <md-card flex flex-order = "1">
                <img class="img-responsive" ng-click="login('User')" src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/128/User-Group-icon.png" alt="Washed Out">
                <h4 style="text-align: center">User</h4>
            </md-card>

            <md-card flex flex-order= "2">
                <img class="img-responsive" ng-click="login('Admin')" src="http://icons.iconarchive.com/icons/aha-soft/free-large-boss/128/Admin-icon.png" alt="Washed Out">
                <h4 style="text-align: center">Admin</h4>
            </md-card>

            <md-card flex flex-order ="3">
                <!--<img style = "width:100px; height: 100px;" src = "../images/logo2.png">-->
                <img class="img-responsive" ng-click="login('Staff')" src="http://icons.iconarchive.com/icons/iconshock/real-vista-jobs/128/chef-icon.png" alt="Washed Out">
                <h4 style="text-align: center">Staff</h4>
            </md-card>
        </div>


        <div ng-show="false">
                <input ng-click="login('User')"  class="col-md-2 btn" type="image" id="user" style="border: solid black 1px;" src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/128/User-Group-icon.png"/>
                <input ng-click="login('Admin')" class="col-md-2 col-md-push-3 btn" type="image" id="admin" style= "border: solid black 1px;" src="http://icons.iconarchive.com/icons/aha-soft/free-large-boss/128/Admin-icon.png"/>
                <input ng-click="login('Staff')" class="col-md-2 btn" type="image" id="staff" style="border: solid black 1px; float: right" src="http://icons.iconarchive.com/icons/iconshock/real-vista-jobs/128/chef-icon.png"/>


        </div>

            <!--<br>-->
            <!--<span class="radioValue" ng-init="roleId = 'User';">Login as: <strong> {{ roleId }} </strong></span> </p>-->
            <!--<md-radio-group ng-model = "roleId">-->
                <!--<md-radio-button value="User">User</md-radio-button>-->
                <!--<md-radio-button value="Admin"> Admin </md-radio-button>-->
                <!--<md-radio-button value="Staff">Staff</md-radio-button>-->
            <!--</md-radio-group>-->
            <!--<br>-->

            <!--<button type="submit" class="btn btn-default" ng-click="login(roleId)"> Submit </button>-->
    </div>
<style>
    .home-btn{
        border: 2px solid #C0392B;
        padding: 10px 40px;
        background: transparent;
        width: 33%;
        border-radius: 25px;
        color: #C0392B;
    }
    .home-btn:hover{
        color: #ffffff;
        background: #C0392B;
    }
    .kitchen-input{
        background: transparent;
        text-align: center;
    }
    .kitchen-input:focus{
        border-color: darkgreen;
        box-shadow: none;
        color: #ffffff;
    }
    @media screen and (max-width: 585px){
        .home-btn{
            margin: 1% 1%;
            width: 100%;
        }
    }
</style>
<!--</form>-->