
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Menu List</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
            <tr ng-repeat="(itemid,item) in menu.items">
                <td> {{item.name}}</td>
            </tr>
            <!--<tr>-->
                <!--<td> Menu 2</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td> Menu 3</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td> Menu 4</td>-->
            <!--</tr>-->
        </tbody>
    </table>
    <div class="btn-toolbar">
         <button type="button" ng-click="addItemClicked()" class="btn btn-block btn-primary">Add an Item</button>
         <button type="button" ng-click="postItem()" class="btn btn-block btn-primary">Save</button>
    </div>

</div>


