<h2 style="text-align: center">
   {{kitchenid}} orders list
</h2>
<div>

    <div style="clear:both; text-align: center" >
        <h3 class="panel-heading" style="background: #3372df; color: white;height: 40px;">
            Pending Orders
        </h3>
        <md-card class="col-md-12" layout="row" layout-wrap ng-repeat="(oi,order) in allPendingOrder">

            <div style="display: inline-block;margin:0 10px" ng-repeat="(item,userorder) in order.items">

                <dt>{{menu.items[userorder.itemId].name}}</dt>
                <dt><img class="img-circle" style="width:50px;height:50px" src="{{menu.items[userorder.itemId].imgurl}}"></dt>
                <dd><strong>x{{userorder.quantity}}</strong></dd>
                <dd>{{userorder.comments}}</dd>

                <!--<dd>Quantity : {{userorder.itemId}}</dd>-->
                <!--<dd>{{userorder.comments}}</dd>-->
            </div>
            <div style="position: absolute;">
                <p>
                    <strong>Table no: </strong>{{order.tableNumber}}
                </p>
                <p>
                    Order No:{{order.orderId}}
                </p>
            </div>
            <div style="position: absolute; top: 35%;right: 10px;">
                <button ng-click="userOrderCancelled(order)" type="button" class="btn btn-danger" tooltip="Not Available">Not Available</button>
                <button ng-click="userOrderCompleted(order)"  type="button" class="btn btn-success" tooltip="Order Completed">Done</button>
            </div>
        </md-card>
    </div>

    <div style="clear:both; text-align: center" >
        <h3 class="panel-heading" style="background: #3372df; color: white;height: 40px;">
            Completed Orders
        </h3>

        <md-card class="col-md-12" layout="row" layout-wrap ng-repeat="(oi,order) in allCompletedOrder">

            <div style="display: inline-block;margin:0 10px" ng-repeat="(item,userorder) in order.items">

                <dt>{{menu.items[userorder.itemId].name}}</dt>
                <dt><img class="img-circle" style="width:50px;height:50px" src="{{menu.items[userorder.itemId].imgurl}}"></dt>
                <dd><strong>x{{userorder.quantity}}</strong></dd>
                <!--<dd>Quantity : {{userorder.itemId}}</dd>-->
                <!--<dd>{{userorder.comments}}</dd>-->
            </div>
            <div style="position: absolute; right: 10px;">
                <h5>
                    Table no: {{order.tableNumber}}
                    <br>
                </h5>
                <h7>Status: {{order.action}}</h7><br>
                <h7>
                    Order No:{{order.orderId}}
                </h7>
            </div>
        </md-card>
    </div>
</div>