<md-dialog aria-label="Item" style="width: 40%">
    <md-content class="sticky-container">
        <h2>Enter Details</h2>
        <!--<md-subheader class="md-sticky-no-effect">Mango (Fruit)</md-subheader>-->
        <div class="dialog-content">
            <form>

                <!--<div class="form-group">-->
                    <!--<label class="sr-only" for="userId">UserId</label>-->
                    <!--<input type="text" class="form-control" id="userId" placeholder="UserId" ng-model = "userIdInput">-->
                <!--</div>-->

                <div class="form-group">
                    <label class="sr-only" for="tableId">Table No.</label>
                    <textarea type="text" class="form-control" id="tableId" placeholder="Table No." ng-model = "tableIdInput"></textarea>
                </div>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <button ng-click="answer('ok')" class="btn-lg btn-danger">
            OK
        </button>
    </div>
</md-dialog>