
<style>
    .myMenuItem{
        cursor: pointer;
        padding: 0;
        /*width: 45%;*/
        /*display: inline-flex;*/
    }
    .myMenuItem:hover{
        box-shadow: 0 1px 6px 1px rgba(0,0,0,0.50);
    }
</style>

<h2 style="text-align: center">
    {{kitchenid}} menu list
</h2>
<div style="float: right;text-align: right">
    <small>UserId: {{userId}}</small><br>
    <small>Table No. <input type="text" size="4" ng-model="tableId"></small>
</div>
<div style="clear:both">
    <md-card class="col-md-5 myMenuItem" layout="row" layout-wrap ng-repeat="(itemid,item) in userMenu.items"  ng-click="showAlert($event,itemid,item)">
        <div  flex="33" style="padding: 10px"><img style="width: 100%" src="{{item.imgurl}}"></div>
        <div  flex>
            <div style="margin:10px">
                <span style="font-weight:500">{{item.name}}</span><br>
                <small>{{item.desc}}</small><br>
            </div>
        </div>
    </md-card>
</div>

<div ng-show= showCart>
    <div style="clear:both; text-align: center" >
        <h3 class="panel-heading" style="background: #3372df; color: white;height: 40px;">
            Cart Details
        </h3>
        <md-card class="col-md-5" layout="row" layout-wrap ng-repeat="order in userAddItem">

            <div style="display: inline-block;margin:0 10px">

                <dt>{{userMenu.items[order.itemId].name}}</dt>
                <dt><img class="img-circle" style="width:50px;height:50px" src="{{userMenu.items[order.itemId].imgurl}}"></dt>
                <dd><strong>x{{order.quantity}}</strong></dd>

                <!--<dd>Quantity : {{userorder.itemId}}</dd>-->
                <!--<dd>{{userorder.comments}}</dd>-->
            </div>
            <small style="text-align: center; margin: 10px;">{{order.comments}}</small>
            <button ng-click="removeUserItem(order)" type="button" class="btn btn-default" style="position: absolute; top: 25%;right: 10px;">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </md-card>
    </div>
    <div style="clear:both">
        <h7>
            <strong>Details</strong>
            Items: {{userItemCount}}
            Quantity: {{userQuantityCount}}
        </h7>

        <br>
    </div>
</div>

<button type="button" ng-click="placeUserOrder()" class="btn btn-block btn-success">Place Order</button>

<!-- Pending Orders-->
<div ng-show=showPending>

    <div style="clear:both; text-align: center" >
        <h3 class="panel-heading" style="background: #3372df; color: white;height: 40px;">
            Pending Orders
        </h3>
        <md-card class="col-md-12" layout="row" layout-wrap ng-repeat="(oi,order) in userPendingOrder">

            <div style="display: inline-block;margin:0 10px" ng-repeat="(item,userorder) in order.items">

                <dt>{{userMenu.items[userorder.itemId].name}}</dt>
                <dt><img class="img-circle" style="width:50px;height:50px" src="{{userMenu.items[userorder.itemId].imgurl}}"></dt>
                <dd><strong>x{{userorder.quantity}}</strong></dd>
                <!--<dd>Quantity : {{userorder.itemId}}</dd>-->
                <!--<dd>{{userorder.comments}}</dd>-->
            </div>
            <div ng-show="false" style="position: absolute; right: 10px;">
                <p>
                    Action: {{order.action}}
                </p>
                <h5>
                    Order No: {{order.orderId}}
                </h5>
            </div>

        </md-card>
    </div>

    <div style="clear:both; text-align: center">
        <h3 class="panel-heading" style="background: #3372df; color: white;height: 40px;">
            Completed Orders
        </h3>
        <md-card class="col-md-12" layout="row" layout-wrap ng-repeat="(oi,order) in allCompletedOrder">

            <div style="display: inline-block;margin:0 10px" ng-repeat="(item,userorder) in order.items">

                <dt>{{userMenu.items[userorder.itemId].name}}</dt>
                <dt><img class="img-circle" style="width:50px;height:50px" src="{{userMenu.items[userorder.itemId].imgurl}}"></dt>
                <dd><strong>x{{userorder.quantity}}</strong></dd>
                <!--<dd>Quantity : {{userorder.itemId}}</dd>-->
                <!--<dd>{{userorder.comments}}</dd>-->
            </div>
            <div style="position: absolute; right: 10px; top: 10%;">
                <h5 ng-show="false">
                    Status: {{order.action}}
                </h5>
                <h2  ng-if="order.action == 'complete' ">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                </h2>
                <h2 ng-if="order.action == 'cancelled' ">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>

                </h2>
                <!--Order No: {{order.orderId}}-->
            </div>
        </md-card>
    </div>

</div>
